@import 'index';

.main{
	width: 100%;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightslategray;
	flex-wrap: wrap;
	a{
		margin: 0 20px;
		text-decoration: none;
		cursor: pointer;
		transition: 0.3s all;
		font-size: 30px;
		color: white;
		&:hover{
			color: rgb(168, 168, 168);
		}
	}
}